<!DOCTYPE html>
<html>
<head>
<title>About | Ruby on Rails Tutorial Sample App</title>
</head>

<body>
  <h1>StaticPages#about</h1>
  <p>This is about the beginning of the kingdom....</p>
</body>

</html>
